#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1

DEB_VERSION := $(shell dpkg-parsechangelog -S Version)

%:
	dh $@

override_dh_auto_build:
	sh build.sh

	# Build docs
	./bin/nim c koch
	PATH=./bin/:$$PATH ./koch web
	
	# Generate manpage
	help2man --name="Nim Language Compiler" -s1 --version-string="$(DEB_VERSION)" \
		-i debian/nim.h2m -o debian/nim.1 ./bin/nim

override_dh_auto_install:
	PATH=./bin/:$$PATH ./koch install debian/tmp
	cp -a web/upload debian/html
	find debian/html -name '*.idx' \
		-delete

override_dh_auto_clean:
	rm -f ./koch tools/nimweb tools/niminst/niminst
	rm -rf bin/ web/upload/
	rm -rf ./nimcache tools/nimcache tools/niminst/nimcache
	find . -name '*.o' \
		-delete
	find doc \( -name '*.idx' -o -name '*.html' \) \
		-delete

override_dh_installdocs:
	dh_installdocs -Xcopying.txt

override_dh_clean:
	dh_clean
	rm -f debian/nim.1
	rm -rf debian/html
