#!/usr/bin/make -f
export DH_VERBOSE=1

export DEB_BUILD_HARDENING=1

# reproducible documentation, see https://wiki.debian.org/ReproducibleBuilds/TimestampsProposal
export SOURCE_DATE_EPOCH = $(shell date -d "$$(dpkg-parsechangelog --count 1 -SDate)" +%s)

DEB_VERSION := $(shell dpkg-parsechangelog -S Version)

%:
	dh $@

override_dh_auto_build:
	sh build.sh
	# Build docs
	./bin/nim c koch
	PATH=./bin/:$$PATH ./koch web
	# Generate manpage
	help2man --name="Nim Language Compiler" -s1 --version-string="$(DEB_VERSION)" \
		-i debian/nim.h2m -o debian/nim.1 ./bin/nim

override_dh_auto_install:
	PATH=./bin/:$$PATH ./koch install debian/tmp
	cp -a web/upload debian/html
	find debian/html -name '*.idx' \
		-delete
	ln -sf overview.html debian/html/index.html

override_dh_auto_test:
	# Test that the bootstrapping process converges
	# TODO: not sure if this also checks that c_code also converges, need to verify this
	# see also https://github.com/nim-lang/csources/issues/12
	PATH=./bin/:$$PATH ./koch boot -d:release
	cmp ./bin/nim compiler/nim1

override_dh_auto_clean:
	rm -f ./koch tools/nimweb tools/niminst/niminst compiler/nim compiler/nim0 compiler/nim1
	rm -rf bin/ web/upload/
	rm -rf ./nimcache tools/nimcache tools/niminst/nimcache compiler/nimcache
	find . -name '*.o' \
		-delete
	find doc \( -name '*.idx' -o -name '*.html' \) \
		-delete

override_dh_installdocs:
	dh_installdocs -Xcopying.txt

override_dh_clean:
	dh_clean
	rm -f debian/nim.1
	rm -rf debian/html
